.interface_inside>div{
  padding: 1rem;
}

.profile_intf {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile_welcome {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-ui-shade);
}
.profile_welcome_main {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-ui-shade);
}
.profile_section {
  height: 100%;
  overflow: hidden;
}
.profile_subsection {
  margin-top: 2.75rem;
  color: var(--color-ui-shade);
}
.profile_subsection .p {
  color: white;
  margin: 0 0.5rem;
  opacity: 0.8;
}
.profile_subsection span {
  margin-left: 2rem;
}

.playlist_section {
  position: relative; /* Set the position of the element to relative */
  padding-left: 60px; /* Add padding to the left to make space for the border */
  padding-right: 60px;
}

.playlist_section:before {
  content: ""; /* Add an empty pseudo-element */
  position: absolute; /* Set the position of the pseudo-element to absolute */
  left: 0; /* Position the pseudo-element at the left edge of the parent element */
  top: 0; /* Position the pseudo-element at the top edge of the parent element */
  bottom: 0; /* Set the height of the pseudo-element to match the parent element */
  width: 2px; /* Set the width of the pseudo-element to 2 pixels to create the border */
  background: linear-gradient(
    to bottom,
    var(--color-ui-shade),
    transparent
  ); /* Set the gradient background */
  border-radius: 1px;
}
.profile_changeU {
  all: unset;
  background-color: var(--color-ui-400);
  border-radius: 5px;
  padding: 0 8px;
}
.profile_submit{
  all: unset;
  cursor: pointer;
  transition: 250ms all ease-in-out;
  margin-left: 0.25rem;

}
.profile_submit:hover{
  color: white;
  opacity: 0.8;
}