.search_component{
    height: 100%;
    width: 100%;
}
.close_btn{
    position: absolute;
    right: 2rem;
    top: 3.75rem;
    cursor: pointer;
    fill-opacity: 0.5;
    transition: 250ms all ease-in-out;
}
.close_btn:hover{
    fill-opacity: 1;
}