.login {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}
.login_section {
  background-color: var(--color-ui-500);
  width: 28rem;
  height: 62%;
  display: grid;
  align-items: center;
  justify-items: center;
  color: rgb(202, 202, 202);
  padding: 4rem 1.2rem;
  gap: 1rem;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-2rem);
}
.register_section {
  height: 75%;
}
.login_section input,
.login_btn {
  all: unset;
  background-color: var(--color-ui-800);
  border-radius: 4px;
  width: 18rem;
  padding: 10px;
  color: rgb(202, 202, 202);
}
.login_section input::placeholder {
  opacity: 0.4;
}
.login_btn {
  text-align: center;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.login_btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: white;
}
.login_section h1 {
  font-weight: 600;
  font-size: 2rem;
}
.login_form {
  display: grid;
  gap: 1rem;
  width: 25rem;
  justify-content: center;
}
.login_form p:hover,
.alternative_signup p span:hover {
  color: white;
  cursor: pointer;
}
.forgotP {
  padding: 2rem;
  text-align: center;
}
.error {
  color: red;
  opacity: 0;
  display: none;
}
.message {
  opacity: 1;
  display: block;
}
