.audio_controller{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 5rem;
    background-color: var(--color-ui-400);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    color: white;
}
@media(max-width: 1180px){
    .audio_controller{
        height: 10rem;
    }
}