.navbar {
  position: absolute;
  background-color: var(--color-ui-500);
  height: 2.5rem;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.sidebar {
  position: absolute;
  background-color: var(--color-ui-400);
  height: 100%;
  width: 3.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: grid;
  grid-auto-flow: row;
  gap: 1.5rem;
  align-content: start;
  justify-items: center;
  padding-top: 4rem;
}

.sidebar_btn {
  all: unset;
  cursor: pointer;
  height: auto;
  width: fit-content;
  border-radius: 50%;
  color: #5d6681;
  transition: 250ms ease-in-out;
}
.sidebar_btn:hover,
.nav_selected {
  color: white;
}
