/* CUSTOM ERROR HANDLER - Alvin Varghese */
/* https://github.com/alvin1904 */

.error_handler_1904 {
  box-sizing: border-box;
  position: fixed;
  height: auto;
  max-width: 400px;
  width: fit-content;
  border-radius: 7px;
  padding: 10px 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
  display: flex;
  flex-basis: auto auto;
  gap: 20px;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  /* to center the div */
  transition: 0.4s cubic-bezier(0, 1.28, 1, 0.98);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  user-select: none;
  transform: translateY(-115px);
  z-index: 100;
}
.show1904 {
  transform: translateY(20px);
}
.dark1904 {
  background-color: #2c2c2c;
  color: #f2f2f7;
}
.light1904 {
  background-color: #f2f2f7;
  color: #2c2c2c;
}
.error1904 {
  fill: #ff453a;
}
.success1904 {
  fill: #9fdf9f;
}
.warning1904 {
  fill: #ffcc00;
}
.info1904 {
  fill: #5ac8fa;
}
.error1904border {
  border-bottom: 3.25px solid #ff453a;
}
.success1904border {
  border-bottom: 3.25px solid #9fdf9f;
}
.warning1904border {
  border-bottom: 3.25px solid #ffcc00;
}
.info1904border {
  border-bottom: 3.25px solid #5ac8fa;
}
