.playlist_title {
  height: 200px;
  border-radius: 0px 0px 8px 8px;
  display: grid;
  align-items: end;
  padding: 0 40px;
  transition: all 250ms ease-in-out;
}
.playlist_title div {
  display: grid;
  grid-template-columns: 1fr auto;
}
.playlist_title div button {
  all: unset;
  cursor: pointer;
}
.playlist_title div button svg {
  transition: all 250ms ease-in-out;
  overflow: hidden;
  border-radius: 50%;
}
.playlist_title div button svg:hover {
  fill: #00ff59;
  background-color: white;
}
.playlist_title h1 {
  font-size: 4.5rem;
  /* transform: translate(15px, 95px); */
  font-weight: 200;
}
.playlist_songs_list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding: 0rem 0.55rem 13rem 0.25rem;
}
.song_card_template {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  font-size: 1.25rem;
  font-weight: 500;
  height: 55px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  padding: 0 2rem;
  margin: 1.25rem 0;
}
.songcard_template_like_plus {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.search_component {
  height: 100%;
  width: 100%;
}
.close_btn {
  position: absolute;
  right: 2rem;
  top: 4.8rem;
  cursor: pointer;
  fill-opacity: 0.5;
  transition: 250ms all ease-in-out;
}
.close_btn:hover {
  fill-opacity: 1;
}

/* SEARCH BAR */

.searchbar {
  background-color: transparent;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
  max-width: 400px;
  margin-bottom: 1rem;
}
.searchbar > input {
  background-color: var(--color-ui-shade);
  border-radius: 5px;
  height: 40px;
  min-width: 300px;
  padding: 0px 10px;
  font-size: 1.2rem;
  color: white;
  transition: 500ms ease-in-out;
}
.searchbar > input::selection {
  background-color: var(--color-ui-800);
  color: white;
}
.searchbar > button {
  all: unset;
  opacity: 0.8;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.searchbar > button:hover {
  opacity: 1;
}
.search_result {
  padding: 10px;
  height: 90%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px 10px;
}
.search_image_error {
  height: 100%;
  display: grid;
  place-items: center;
  align-items: center;
}
.search_image_error img {
  height: 300px;
  width: 536px;
  object-fit: cover;
  border-radius: 5px;
}
.section_list {
  padding: 0 30px;
  transition: 500ms cubic-bezier(0.39, 1.52, 0.46, 0.92);
}
.section_heading {
  cursor: pointer;
  background-color: var(--color-ui-400);
  height: 50px;
  border-radius: 10px;
  padding: 0 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  font-size: 1.25rem;
  position: relative;
  z-index: 100;
  margin-bottom: 1rem;
}
.icon {
  padding: 0rem 1rem;
  transition: 250ms cubic-bezier(0.39, 1.52, 0.46, 0.92);
}
.search_result_sections {
  overflow: hidden;
}

.notexpanded > .section_list {
  display: none;
}
.expanded > div > .icon {
  transform: rotate(180deg);
}
.notexpanded > div > .icon {
  transform: rotate(0deg);
}
