:root {
  --color-primary-400: #6570ff;
  --color-ui-400: #262e47;
  --color-ui-500: #262e47;
  --color-ui-600: #1c213e;
  --color-ui-800: #171c32;
  --color-ui-shade: #5d6681;

  font-family: "Raleway", sans-serif;
}
* {
  font-family: "Raleway", sans-serif;
}
.App {
  overflow: hidden;
}
html,
body {
  overflow: hidden;
}
.linear_gradient,
body {
  background: linear-gradient(90deg, #6570ff, #750fbd, #c949f8);
}

.hover_effect_1, .audio_btn {
  color: #bfbfbf;
  opacity: 1;
}
.hover_effect_1:hover, .audio_btn:hover {
  color: white;
  opacity: 1;
}
.transition_1{
  transition: 250ms all ease-in-out;
}